<h1>About</h1>
<p>
	Lintbury is a open marketplace for the buying and selling of clothing from a set list of high-end brands and designers.
</p>
	<%= link_to "Lintbury", "http://www.lintbury.com" %>
</p>

<div class="footer">
	<small>

	</small>
<div>

