<div class="hero-unit">

	<h1>Lintbury!</h1>
	<p>
		This is the home page for
		<%= link_to "Lintbury", "http://www.lintbury.com" %> application
		the online lint marketplace.
	</p>

	</p>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-large" %>
	</p>



	<div class="footer">
		<small>

		</small>
	<div>
</div>
